@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Libre+Baskerville&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("../images/hill2.jpg");
  height: 100%;
  background-position: 0 80%;
}


#h1 {
  font-size: 2rem;
  color: aliceblue;
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 10%;
}

#h1 > p {
  width: 100%;
  text-align: center;
  margin: auto;
}

h1 {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: aliceblue;
}

p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 20px 0;
}

.logo img {
  width: 100px;
}


/* NAV BAR--------------------------------- */
.nav-bar {
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: aliceblue;
  font-weight: 300;
  font-size: 0.85rem;
  top: 2%;
  width: 100%;
}

.nav-bar ul {
  /* position: relative; */
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.menu-item {
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
}

.contact {
  border-color: aliceblue;
  border-style: solid;
}

.menu-item:hover {
  background-color: #666;
}

.cta-banner {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 75px; 
  background-color: #000;
  font-weight: 300; 
  color: aliceblue; 
  font-size: 1.5rem; 
}

.cta-banner p {
  display: inline;
}

.cta-banner a {
  display: inline;
  color: aliceblue; 
  text-decoration: none;
  margin-left: 10px;
  border-color: aliceblue;
  border-style: solid;
  border-radius: 150px;
  border-width: 1px;
  padding: 10px;
}

.cta-banner a:hover {
  background-color: #666;
}

@media only screen and (max-width: 1300px) {
  
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .logo {
    margin: auto;
  }
 
  .nav-bar ul {
    gap: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .cta-banner p {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .logo {
    margin: auto;
  }

  .nav-bar ul {
    display: none;
  }

  .cta-banner p {
    display: none;
  }
}


/* SERVICES & INFO SECTIONs------------------------- */
#services, #info {
  color: aliceblue;
  background-color: #000;
  padding: 5% 17%;
  gap: 100px;
  display: flex;
  flex-direction: column;
}

#services > div, #info > div {
  display: flex;
  gap: 100px;
}


#services img, #info img {
  width: 40%;
  object-fit: contain;
}


@media only screen and (max-width: 1300px) {
  #services, #info {
    padding: 5% 10%;
    gap: 10px;
  }

  #services > div, #info > div {
   gap: 50px;
   padding-bottom: 50px;
  }  
}

@media only screen and (max-width: 768px) {
  #services, #info {
    padding: 5% 10%;
    gap: 10px;
  }

  #services > div, #info > div {
    display: flex;
    flex-direction: column;
  }  

  #services img, #info img {
    display: none;
  }
}
/* ----------------------------------------------------- */

/* ABOUT SECTION---------------------------------*/
#about {
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url("../images/nordwood-themes-kRNZiGKtz48-unsplash.jpg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

#about > div {
  width: 30%;
  margin-left: 20%;
}

@media only screen and (max-width: 1300px) {
  #about {
    height: auto;
    padding: 5% 10%;
  }

  #about div {
    margin-left: 10%;
    width: 50%;
  }

  #about h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  #about {
    height: auto;
    padding: 5% 10%;
    background: none;
    background-color: #eee;
  }

  #about div {
    margin: 0;
    width: 100%;
  }
}
/* --------------------------------------------------------------- */

/* CONTACT SECTION and LOGIN SCREEN------------------------------- */
#contact, .login-form {
  background-color: #eee;
  padding: 5% 17%;
}

.contact-form, .login-form  {
  display: flex;
  flex-direction: column;
  border: none
}
.contact-form h2, .login-form h2{
  margin-bottom: 20px;
}

.contact-form .form-group, .login-form .form-group {
  margin-bottom: 15px;
}

.contact-form label, .login-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea, .login-form input, .login-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.contact-form .send, .login-form .send {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    #contact {
      padding: 5% 10%;
    }
}

/* ---------------------------------------------- */

/* FOOTER SECTION-------------------------------- */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  padding: 50px;
  background-color: #333;
  color: #777;
}

.contact-links {
  display: flex;
  /* align-items:flex-start; */
  justify-content:center;
  gap: 5%;
  width: 100%;

}

.contact-us div {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.links a {
  font-weight: 300;
  color: #777;
}

.links a:hover {
  background-color: #333;
  color: aliceblue;
}

.copyright {
  font-size: 1rem;
}
/* ---------------------------------------------- */



/* STYLINGS USED ON WHOLE PAGE------------------- */
.line {
  /* Underline */
  /* Increase this as per requirement */
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: black;
  width: fit-content;
}

.line-alice {
  /* Underline */
  /* Increase this as per requirement */
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: aliceblue;
  width: fit-content;
}
/* ---------------------------------------------- */



/* LOGIN PAGE ----------------------------------- */

.login-side-panel {
  position: absolute;
  height: 100%;
  width: 500px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-side-panel .login-logo {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 992px) {
  .login-side-panel {
    width: 100%;
  }
}


/* PRIVACY POLICY PAGE ---------------------------- */

.privacy-main { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.privacy-main ul {
  margin-left: 2.5%;
}
.privacy-main ul > li {
  font-weight: 300;
}
.privacy-main .h1 {
  margin-top: 50px;
}
.privacy-main h3 {
  margin-top: 50px;
}
.privacy-main a {
  color: black;  
}

.intro {
  margin: 25px;
}

.chapter {
  margin: 25px;
}

.margin-bot-20 {
  margin-bottom: 20px;
}



